@import "../../../../styles/vars.scss";

.button {
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100%;
  background-color: $background-gray;
  cursor: pointer;
}

.button:hover {
  background-color: $blue-color;
}

.button:hover > svg > path {
  background-color: $blue-color;
  fill: $background-white;
}

.hintCnt {
  padding: 4px 6px;
  position: absolute; bottom: -26px; left: auto;
  display: none;
  background-color: $black-color;
  opacity: .8;
  border-radius: 3px;
}

.hint {
  margin: 0;
  @include s-text($background-white);
}

.button:hover .hintCnt {
  display: block;
}